<%- include('partials/header'); -%>
<!-- -///// -->
<header>
  <div class="smoothie">
    <img src="/messenger.png" alt="">
  </div>
  <div class="headings">
    <h2>NeyT's Chat Room</h2>
    <h3>Chat from Heart ... </h3>
    <a href="/callroom" class="btn">Join</a>
  </div>
</header>


<%- include('partials/footer'); -%>
