<%- include('partials/header'); -%>

<form method="post" action="/signup">
    <h2>Login</h2>
    <div class="general error"></div>
    <label for="email">Email</label>
    <input type="text" name="email" required>
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <div class="password error"></div>
    <button>Login</button>
</form>
<%- include('partials/footer'); -%>
<script>
    const form = document.querySelector("form");
    const emailErr = document.querySelector(".email");
    const passwordErr = document.querySelector(".password");
    const generalErr = document.querySelector(".general");

    form.addEventListener("submit", async (e)=>{
        e.preventDefault();
        emailErr.textContent ="";
        passwordErr.textContent="";
        generalErr.textContent="";
        const email = form.email.value;
        const password = form.password.value;
        try{
            const res = await fetch("/login",{
                method:"POST",
                body: JSON.stringify({email,password}),
                headers: {"Content-Type":"application/json"}
            });
            const data = await res.json();
            console.log(data);
            if(data.errors){
                emailErr.textContent = data.errors.email;
                passwordErr.textContent = data.errors.password;
            }
            if(data.user){
                location.assign("/");
            }
        }catch(e){
            generalErr.textContent="Error! Please try again!!!";
       }
    })
</script>