.list_online{
    /* background-color: red; */
    width: 20%;
    padding: 20px;
}
.container{
    display: flex;
    width: 80%;
    height: 600px;
}
.call_video_box{
    width: 80%;
    padding: 20px;
}
.call_video_box{
    position: relative;
}
.local_Video_Ctn{
    position: absolute;
    bottom: 40px;
    right: 20px;
}
.friend_Video_Ctn{
    
}